<!DOCTYPE html>
<html>
<head>
  <title>Wikiful</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Wikiful", root_path, :class => "navbar-brand" %>
        <div class="session-controls pull-right">
          <% if current_user %>
            <span class="navbar-text">Logged in as <%= current_user.email %>.</span>
            <%= link_to "Log Out", logout_path, :class => 'btn btn-primary btn-xs navbar-btn' %>
          <% else %>
            <div class="btn-group btn-group-xs navbar-btn">
              <%= link_to "Sign Up", signup_path, :class => "btn btn-primary" %>
              <%= link_to "Log In", login_path, :class => "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9"><%= yield %></div>
      <div class="col-md-3 sidebar">
        <div class="my-wiki-site">
          <h4>My Wikiful</h4>
          <ul>
            <li><%= link_to "Write a Wiki", new_article_path %></li>
          </ul>
        </div>
        <div class="categories-sidebar">
          <h4>Categories</h4>
          <ul>
            <% @categories.each do |category| %>
              <li><%= link_to category.name, category %></li>
            <% end %>
          </ul>
        </div>
        <div class="about">
          <h4>About Wikiful</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, hic, voluptates, officiis dolorum beatae sequi dolores id fugiat provident eaque quia neque odit magni praesentium excepturi quae vero deserunt laudantium.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
