<!DOCTYPE html>
<html>
<head>
  <title>Wikiful</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Wikiful", root_path, :class => "navbar-brand" %>
        </div>
        <div class="session-controls pull-right">
          <% if current_user %>
            <span class="navbar-text hidden-xs">Logged in as <%= current_user.email %>.</span>
            <%= link_to "Log Out", logout_path, :class => 'btn btn-primary btn-xs navbar-btn' %>
          <% else %>
            <div class="btn-group btn-group-xs navbar-btn">
              <%= link_to "Sign Up", signup_path, :class => "btn btn-primary" %>
              <%= link_to "Log In", login_path, :class => "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-left">
            <li><%= link_to "Articles", articles_path %></li>
            <li class="dropdown" id="categories-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
                <% @categories.each do |category| %>
                  <li><%= link_to category.name, category %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to "Write a Wiki", new_article_path %></li>
            <li><%= link_to "Create a Category", new_category_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2"><%= yield %></div>
    </div>
  </div>
</body>
</html>
